In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [3]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1,99,size=(n_rows,n_cols)),columns = cols)
df

   usia
0    17
1    97
2    11
3    89
4    51
5     1
6    44
7    47
8    25
9    73

Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan cut()

In [4]:
df['kelompok_usia'] = pd.cut(df['usia'], 
                             bins = [0, 18, 65, 99],
                            labels = ['anak', 'dewasa', 'manula'])
# bins = nilai integer pembatas, jika bins = [0, 18] dan labelnya labels = ['anak'], maka integer 0-18 dilabel menjadi anak
df

   usia kelompok_usia
0    17          anak
1    97        manula
2    11          anak
3    89        manula
4    51        dewasa
5     1          anak
6    44        dewasa
7    47        dewasa
8    25        dewasa
9    73        manula